@import "tailwindcss";

/* Thin scrollbar for Webkit browsers (Chrome, Safari, Edge) */
.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* slate-300 */
  border-radius: 20px;
}

/* body {
  min-height: 100vh;
  background-image: url('/body.png');
  background-size: 100% auto;
  background-position: top center;
  background-repeat: repeat-y;
  background-color: #fff;
} */


/* body {
  min-height: 100vh;
  background-color: #fff;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;

  background-image: url('/body.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}  */

